 .tooltip-text {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     left: 40px;
     /* Icon ke right me */
     top: 50%;
     transform: translateY(-50%);
     background: black;
     color: white;
     padding: 5px 8px;
     border-radius: 5px;
     white-space: nowrap;
     font-size: 14px;
     transition: opacity 0.3s ease;
 }

 .text:hover .tooltip-text {
     visibility: visible;
     opacity: 1;
 }